@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MediSynthFinals.Models.RecordDiagnosis

<form asp-action ="AddDiagnosis" method="post" class="searchForm">
    <input type="text" name="searchString" />
    <input type="submit" value="Search" />
</form>


<form asp-action="AddDiagnosis" method="post" class="form">
    <p class="form-title"><img alt="MediSynth" src="../imgs/logo.png" width="180" height="60"></p>

    <center><h3>Edit Details</h3></center>

    <div hidden class="form-group">
        <label asp-for="diagnosisId"></label>
        <input asp-for="diagnosisId" class="form-control" />
    </div>

     <div class="input-container">
        <label asp-for="diagnosisText">Current Password</label>
        <input asp-for="diagnosisText" class="form-control" />
    </div>

     <div class="input-container">
        <label asp-for="additionalNote">New Password</label>
        <input asp-for="additionalNote" class="form-control" />
    </div>

     <div class="input-container">
        <label asp-for="attendingDoctor">First Name</label>
        <input asp-for="attendingDoctor" class="form-control" />
    </div>

     <div class="input-container">
        <label asp-for="visitDate"></label>
        <input asp-for="visitDate" class="form-control" />
    </div>

    <br />
    <center>
        <button type="submit" class="submit">Submit</button>
        <button type="button" class="submit" onclick="history.back();">Cancel</button>
    </center>
    
</form>
