@model MediSynthFinals.ViewModel.DoctorMedHisViewModel
<link rel="stylesheet" href="~/css/form.css">
<body>
    <form method="post" asp-action="AddHistory" class="form">
        <p class="form-title"><img alt="MediSynth" src="../imgs/logo.png" width="120" height="40"></p>
        <p class="patient-info">Patient No.</p>
        <div class="center">
            <p class="patient-ID">@Model.patientId.Substring(0,7)</p>
        </div>
@*         <p class="patient-info">Patient Name</p>
        <div class="center">
            <p class="patient-ID">@Model.</p>
        </div> *@
        <p class="form-title">Medical History</p>

        <input hidden asp-for="patientId" value="@Model.patientId" />
        <input hidden asp-for="rtypeId" value="MedicalHistory" />

        <div class="input-container">
            <label asp-for="pastMedHistory" class="form-label"></label>
            <input asp-for="pastMedHistory" class="form-control">
        </div>

        <div class="input-container">
            <label asp-for="pastHospitalization" class="form-label"></label>
            <input asp-for="pastHospitalization" class="form-control">
        </div>

        <div class="input-container">
            <label asp-for="pastSurgicalOperation" class="form-label"></label>
            <input asp-for="pastSurgicalOperation" class="form-control">
        </div>

        <div class="input-container">
            <label asp-for="medConcern" class="form-label"></label>
            <input asp-for="medConcern" class="form-control">
        </div>

        <div class="input-container">
            <label asp-for="foodAllergy" class="form-label"></label>
            <input asp-for="foodAllergy" class="form-control">
        </div>

        <div class="input-container">
            <label asp-for="drugAllergy" class="form-label"></label>
            <input asp-for="drugAllergy" class="form-control">
        </div>

        <div class="input-container">
            <label asp-for="visitDate" class="form-label"></label>
            <input asp-for="visitDate" type="date" class="form-control">
        </div>

        <div class="input-container">
            <label asp-for="attendingDoctor" class="form-label"></label>
            <input asp-for="attendingDoctor" class="form-control">
        </div>
        <br />
        <center>
        <button type="submit" class="submit">Submit</button>
        </center>
    </form>

</body>