@model MediSynthFinals.ViewModel.DoctorEditViewModel;

<h1>Edit Details</h1>
<form asp-action="Edit" method="post">

    <div hidden class="form-group">
        <label asp-for="userId"></label>
        <input asp-for="userId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="currentpass">Current Password</label>
        <input asp-for="currentpass" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="newpass">New Password</label>
        <input asp-for="newpass" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="fName">First Name</label>
        <input asp-for="fName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="lName"></label>
        <input asp-for="lName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="email"></label>
        <input asp-for="email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="contactNum"></label>
        <input asp-for="contactNum" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="department"></label>
        <select class="form-select-sm" asp-for="department" asp-items="Html.GetEnumSelectList(typeof(Department))"></select>
    </div>

    <br />
    <button  asp-route-id="@Model.userId" type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" onclick="history.back();">Cancel</button>
</form>

