@using Microsoft.AspNetCore.Identity;
@model UserSchedule;
@inject UserManager<UserCredentials> UserManager;

<link rel="stylesheet" href="~/css/form.css" />

<form asp-action="Schedule" method="post" class="form">
    <p class="form-title"><img alt="MediSynth" src="../imgs/logo.png" width="180" height="60"></p>
    
    <center><h3>Add Schedule</h3></center>

     <div class="input-container">
        <label asp-for="scheduleInfo"></label>
        <input asp-for="scheduleInfo" placeholder="Indicate time in and out. Ex. 8:00AM - 10:00PM" class="form-control" />
    </div>

     <div class="input-container">
        <label asp-for="scheduleDate"></label>
        <select asp-for="scheduleDate" class="form-select" aria-label="Select Day">
            <option selected value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
    </div>

     <div hidden class="input-container">
        <label asp-for="userId"></label>
        <input asp-for="userId" value="@ViewBag.Id" class="form-control" />
    </div>
    <center>
        <button type="submit" class="submit">Submit</button>
        <button type="button" class="submit" onclick="history.back();">Cancel</button>
    </center>

    
</form>


