@using Microsoft.AspNetCore.Identity;
@model UserSchedule;
@inject UserManager<UserCredentials> UserManager;

<h1>Add Schedule</h1>

<form asp-action="Schedule" method="post">

    <div class="form-group">
        <label asp-for="scheduleInfo"></label>
        <input asp-for="scheduleInfo" placeholder="Indicate time in and out. Ex. 8:00AM - 10:00PM" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="scheduleDate"></label>
        <select asp-for="scheduleDate" class="form-select" aria-label="Select Day">
            <option selected value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="userId"></label>
        <input asp-for="userId" value="@ViewBag.Id" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" onclick="history.back();">Cancel</button>
</form>


