@model MediSynthFinals.ViewModel.RegisterViewModel
<head>
    <link rel="stylesheet" type="text/css" href="../css/form.css">
</head>

<body>
    <div class="form-group" asp-validation-summary="All"></div>

    <form class="form" asp-action="Doctor">
        <p class="form-title"><img alt="MediSynth" src="../imgs/logo.png" width="180" height="60"></p>
        <p class="form-title">Doctor</p>

        <label>Username</label>
        <div class="input-container">
            <input asp-for="username" type="text" placeholder="Enter username">
            <span>
            </span>
        </div>

        <label>Password</label>
        <div class="input-container">
            <input asp-for="password" type="password" placeholder="Enter password">
            <span>
            </span>
        </div>

        <label>First Name</label>
        <div class="input-container">
            <input asp-for="fName" type="text" placeholder="Enter First Name">
            <span>
            </span>
        </div>

        <label>Last Name</label>
        <div class="input-container">
            <input asp-for="lName" type="text" placeholder="Enter Last Name">
            <span>
            </span>
        </div>

        <label>Email</label>
        <div class="input-container">
            <input asp-for="email" type="email" placeholder="Enter Email">
            <span>
            </span>
        </div>

        <label>Contact Number</label>
        <div class="input-container">
            <input asp-for="contactNum" type="text" placeholder="Enter Valid Phone Number">
            <span>
            </span>
        </div>

        <label>Department</label>
        <div class="input-container">
            <select class="form-select-sm" asp-for="department" asp-items="Html.GetEnumSelectList(typeof(Department))"></select>
        </div>

        <center>
            <button type="submit" class="submit">
                Register
            </button>
        </center>
    </form>
    <br />
    <br />

</body>