@model MediSynthFinals.ViewModel.LoginViewModel;
<head>
    <link rel="stylesheet" type="text/css" href="../css/form.css">
</head>


<body>
    <div class="form-group" asp-validation-summary="All"></div>

    <form class="form" method="post" asp-action="Login">
        <p class="form-title"><img alt="MediSynth" src="../imgs/logo.png" width="180" height="60"></p>
        <label>Username</label>
        <div class="input-container">
            <input asp-for="Username" class="form-control">
            <span asp-validation-for="Username" class="text-danger"></span>
            <span>
            </span>
        </div>
        <label>Password</label>
        <div class="input-container">
            <input asp-for="password" type="password" class="form-control">
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe">
        </div>
        <center>
            <button type="submit" class="submit">
                Login
            </button>
        </center>
    </form>
    <br />
    <br />
    <p class="signup-link">
        No Account? Sign up as
        <a asp-controller="User" asp-action="Patient" class="register">Patient?</a>
    </p>
    <p class="signup-link">

    </p>
</body>

