@model UserCredentials;
   <head>
    <link rel="stylesheet" type="text/css" href="../css/form.css">
    </head>


    <body>
    <form class="form" method="post" asp-action="Login">
        <p class="form-title"><img alt="MediSynth" src="../imgs/outlined_logo.png" width="180" height="50"></p>
        <label>Username</label>
        <div class="input-container">
            <input asp-for="username" class="form-control">
            <span>
            </span>
        </div>
        <label>Password</label>
        <div class="input-container">
            <input asp-for="password" type="password" class="form-control">
        </div>
        <br />
        <center>
            <button type="submit" class="submit">
                Login
            </button>
        </center>
    </form>
    <br />
    <br />
    <p class="signup-link">
        No Account? Sign up as
        <a href="">DOCTOR?</a> or <a href="">ADMIN?</a>
    </p>
    <p class="signup-link">
        
    </p>
    </body>


