@model MediSynthFinals.Models.RecordMedHistory
<head>
    <link rel="stylesheet" type="text/css" href="../css/form.css">
</head>

<body>
    <form method="post" asp-action="AddHistory" class="form">
        <p class="form-title"><img alt="MediSynth" src="../imgs/logo.png" width="120" height="40"></p>

        @*
        <h1>Medical History Form</h1>
        <p class="patient-info">Patient No.</p>
        <div class="center">
        <p class="patient-ID">3312983</p>
        </div>
        <p class="patient-info">Patient Name</p>
        <div class="center">
        <p class="patient-ID">Juan De la Cruz</p>
        </div>
        <p class="form-title">Medical History</p>
        *@
        <div class="input-container">
            <label asp-for="pastMedHistory" class="form-label"></label>
            <input asp-for="pastMedHistory" class="form-control">
            <span asp-validation-for="pastMedHistory" class="text-danger"></span>
        </div>

        <div class="input-container">
            <label asp-for="pastHospitalization" class="form-label"></label>
            <input asp-for="pastHospitalization" class="form-control">
            <span asp-validation-for="pastHospitalization" class="text-danger"></span>
        </div>

        <div class="input-container">
            <label asp-for="pastSurgicalOperation" class="form-label"></label>
            <input asp-for="pastSurgicalOperation" class="form-control">
            <span asp-validation-for="pastSurgicalOperation" class="text-danger"></span>
        </div>

        <div class="input-container">
            <label asp-for="medConcern" class="form-label"></label>
            <input asp-for="medConcern" class="form-control">
            <span asp-validation-for="attendingDoctor" class="text-danger"></span>
        </div>

        <div class="input-container">
            <label asp-for="foodAllergy" class="form-label"></label>
            <input asp-for="foodAllergy" class="form-control">
            <span asp-validation-for="foodAllergy" class="text-danger"></span>
        </div>

        <div class="input-container">
            <label asp-for="drugAllergy" class="form-label"></label>
            <input asp-for="drugAllergy" class="form-control">
            <span asp-validation-for="drugAllergy" class="text-danger"></span>
        </div>

        <div class="input-container">
            <label asp-for="visitDate" class="form-label"></label>
            <input asp-for="visitDate" type="date" class="form-control">
            <span asp-validation-for="visitDate" class="text-danger"></span>
        </div>

        <div class="input-container">
            <label asp-for="attendingDoctor" class="form-label"></label>
            <input asp-for="attendingDoctor" class="form-control">
            <span asp-validation-for="attendingDoctor" class="text-danger"></span>
        </div>
        <br />
        <center>
            <button type="submit" class="submit">Submit</button>
        </center>
    </form>

</body>