@model MediSynthFinals.Models.RecordDiagnosis
<head>
    <link rel="stylesheet" type="text/css" href="../css/form.css">
</head>

<body>
    <form method="post" asp-action="Diagnosis">
        @*     <div class="mb-3">
        <label asp-for="Id" class="form-label">Id</label>
        <input asp-for="Id" class="form-control" value="@ViewBag.increment" placeholder="@ViewBag.increment">
        </div> *@

        <div class="mb-3">
            <label asp-for="diagnosisText" class="form-label"></label>
            <input asp-for="diagnosisText" class="form-control">
        </div>

        <div class="mb-3">
            <label asp-for="additionalNote" class="form-label"></label>
            <input asp-for="additionalNote" class="form-control">
        </div>

        <div class="mb-3">
            <label asp-for="visitDate" class="form-label"></label>
            <input asp-for="visitDate" type="date" class="form-control">
        </div>

        <div class="mb-3">
            <label asp-for="attendingDoctor" class="form-label"></label>
            <input asp-for="attendingDoctor" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>