@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/landing.css">
</head>
<body>
    <div class="welcome-text">
        <h1>Welcome to <img src="../imgs/outlined_logo.png" alt="Medisynth Logo" width="18%" height="18%"></h1>
        
    </div> 
    <div class="level">
        <div class="container-button">
            <p class="text">Already have an account?</p>
            <a href="#" class="login">Login</a>
            <p class="text">New to MediSynth?</p>
            <a href="#" class="register">Register</a>
        </div>
    </div>
   
        
</body>
</html>
