<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/form.css">
</head>

<body>
    <form class="form"> 
        <p class="form-title"><img alt="MediSynth" src="../imgs/logo.png" width="120" height="40"></p>
        <p class="patient-info">Patient No.</p>
        <div class="center">
            <p class="patient-ID">3312983</p>
        </div>
        <p class="patient-info">Patient Name</p>
        <div class="center">
            <p class="patient-ID">Juan De la Cruz</p>
        </div>
        <p class="form-title">Medical History</p>
        

        <label>Past Medical History</label>
        <div class="input-container">
            <input type="Past Medical History" placeholder="">
            <span>
            </span>
        </div>

        <label>Past Hospitalizations</label>
        <div class="input-container">
            <input type="email" placeholder="">
            <span>
            </span>
        </div>

        <label>Past Surgical Operation/s</label>
        <div class="input-container">
            <input type="email" placeholder="">
            <span>
            </span>
        </div>

        <label>Medical Concern</label>
        <div class="input-container">
            <input type="email" placeholder="">
            <span>
            </span>
        </div>

        <label>Food Allergies</label>
        <div class="input-container">
            <input type="email" placeholder="">
            <span>
            </span>
        </div>

        <label>Drug Allergies</label>
        <div class="input-container">
            <input type="email" placeholder="">
            <span>
            </span>
        </div>

        <label>Attending Doctor</label>
        <div class="input-container">
            <input type="email" placeholder="">
            <span>
            </span>
        </div>

        <label>Visit Date</label>
        <div class="input-container">
            <input type="date" placeholder="">
            <span>
            </span>
        </div>
        <br />
        <center>
            <button type="submit" class="submit">
                Login
            </button>
        </center>
    </form>
    <br />
    <br />

</body>

</html>
