@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/portal.css" />
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="portal.css" />
</head>
<body>

    <div class="level">
        <p class="form-title"><img alt="MediSynth" src="../imgs/logo.png" width="120" height="40"></p>
        <p class="patient-info">Patient No.</p>
        <div class="center">
            <p class="patient-ID">3312983</p>
        </div>
        <p class="patient-info">Patient Name</p>
        <div class="center">
            <p class="patient-ID">Juan De la Cruz</p>
        </div>
        <div class="stacked-container">
            <div class="side-by-side-container">
                <div class="rounded-containercopy">
                    <img src="~/imgs/calendar-lines-pen.png" alt="Medisynth Logo" width="120px" height="120px">
                    <div class="rounded-text">Medical Record</div>
                </div>
                <div class="rounded-containercopy">
                    <img src="~/imgs/stethoscope.png" alt="Medisynth Logo" width="120px" height="120px">
                    <div class="rounded-text">View Diagnosis</div>
                </div>
            </div>

            <div class="side-by-side-container">
                <div class="rounded-containercopy">
                    <img src="~/imgs/time-past.png" alt="Medisynth Logo" width="120px" height="120px">
                    <div class="rounded-text">Edit History</div>
                </div>
                <div class="rounded-containercopy">
                    <img src="~/imgs/edit.png" alt="Medisynth Logo" width="120px" height="120px">
                    <div class="rounded-text">Edit Diagnosis</div>
                </div>
            </div>
        </div>
    </div>

</body>
