@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/portal.css" />
</head>
<body>
    
    <div class="welcome-text">
        Welcome back, [Your Name]!
    </div>
   
    <div class="level">
        <a href="#">
            <div class="rounded-container">
                <img src="../imgs/search-heart.png" alt="Medisynth Logo" width="100px" height="100px">
                <div class="rounded-text">
                    Patient Search
                </div> 
                
            </div>
        </a>
        
    </div>
    <div class="level">
        <div class="rounded-containercopy">
            <img src="../imgs/calendar-lines-pen.png" alt="Medisynth Logo" width="80px" height="80px">
            <div class="rounded-text">
                Patient Register
            </div>
        </div>
        
        <div class="rounded-containercopy">
            <img src="../imgs/exit.png" alt="Medisynth Logo" width="80px" height="80px">
            <div class="rounded-text">
                Logout
            </div>
        </div>
        
    </div>
</body>
