@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/portal.css" />
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="portal.css" />
</head>
<body>
    <div class="welcome-text">
        <h1>Welcome back, [Your Name]!</h1>
    </div>

    <div class="level">
        <div class="stacked-container">
            <div class="stacked-item">
                <div class="rounded-container">
                    <img src="~/imgs/search.png" alt="Medisynth Logo" width="120px" height="120px">
                    <div class="rounded-text"> Patient Search</div>
                </div>
            </div>

            <div class="side-by-side-container">
                <div class="rounded-containercopy">
                    <img src="~/imgs/calendar-lines-pen.png" alt="Medisynth Logo" width="120px" height="120px">
                    <div class="rounded-text">Patient Register</div>
                </div>
                <div class="rounded-containercopy">
                    <img src="~/imgs/exit.png" alt="Medisynth Logo" width="120px" height="120px">
                    <div class="rounded-text">Logout</div>
                </div>
            </div>
        </div>
    </div>

</body>
