@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/form.css">
</head>

<body>
    <form class="form">
        <p class="form-title"><img alt="MediSynth" src="../imgs/logo.png" width="180" height="55"></p>
        <p class="form-title">Patient Registration</p>

        <label>First Name</label>
        <div class="input-container">
            <input type="email" placeholder="Enter First Name">
            <span>
            </span>
        </div>

        <label>Last Name</label>
        <div class="input-container">
            <input type="email" placeholder="Enter Last Name">
            <span>
            </span>
        </div>

        <label>Address</label>
        <div class="input-container">
            <input type="email" placeholder="Enter Address">
            <span>
            </span>
        </div>

        <label>Region</label>
        <div class="input-container">
            <input type="email" placeholder="Enter Region">
            <span>
            </span>
        </div>

        <label>City</label>
        <div class="input-container">
            <input type="email" placeholder="Enter City">
            <span>
            </span>
        </div>

        <label>Gender</label>
        <div class="input-container">
            <select>
                <option value="" selected disabled>Select Gender</option>
                <option value="gender1">Male</option>
                <option value="gender2">Female</option>
            </select>
        </div>

        <label for="datepicker">Birthdate</label>
        <div class="input-container">
            <input type="date" id="datepicker">
        </div>

        <label>Birthplace</label>
        <div class="input-container">
            <input type="email" placeholder="Enter Birthplace">
            <span>
            </span>
        </div>

        <label>Contact No.</label>
        <div class="input-container">
            <input type="email" placeholder="Phone/Telephone no.">
            <span>
            </span>
        </div>

        <label>Occupation</label>
        <div class="input-container">
            <input type="email" placeholder="Enter Occupation">
            <span>
            </span>
        </div>

        <label for="religion">Religion</label>
        <div class="input-container">
            <select id="religion" name="religion">
                <option value="" selected disabled>Select Religion</option>
                <option value="roman_catholic">Roman Catholic</option>
                <option value="christian">Christian</option>
                <option value="muslim">Muslim</option>
                <option value="hindu">Hindu</option>
                <option value="buddhist">Buddhist</option>
                <option value="jewish">Jewish</option>
                <option value="sikh">Sikh</option>
                <option value="other">Other</option>
            </select>
        </div>

        <label>Emergency Contact Person</label>
        <div class="input-container">
            <input type="email" placeholder="Enter Contact Person">
            <span>
            </span>
        </div>

        <label>Emergency Contact Number</label>
        <div class="input-container">
            <input type="email" placeholder="Phone/Telephone no.">
            <span>
            </span>
        </div>

        <center>
            <button type="submit" class="submit">
                Register
            </button>
        </center>
    </form>
    <br />
    <br />

</body>

</html>
