.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 70%;
    border-radius: 60px;
    box-shadow: 0 10px 105px -9px rgba(0, 0, 0, 0.1), 0 8px 40px -2px rgba(0, 0, 0, 0.05);
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

@media (max-width: 767px) {
    /* Media query for screens up to 767 pixels wide (typical mobile devices) */

    .form {
        max-width: 90%; /* Adjust the width for smaller screens */
    }

    .form-title {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1rem; /* Adjust font size for smaller screens */
    }

    .input-container input,
    .input-container select,
    .form button {
        width: 100%; /* Make inputs and button full width on smaller screens */
    }
}

.form-title {
    padding-top: 20px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
    padding-bottom: 5px;
}

.input-container {
    position: relative;
}

    .input-container input, .form button {
        outline: none;
        border: 1px solid #e5e7eb;
        margin: 8px 0;
    }

    .input-container input {
        background-color: #fff;
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 85%;
        border-radius: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        margin-left: 7%;
    }

    .input-container select {
        background-color: #fff;
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 55%;
        border-radius: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        margin-left: 7%;
    }


.submit {
    margin-top: 50px;
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #04A1E3;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 30%;
    border-radius: 150px;
    text-transform: uppercase;
}

.signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

    .signup-link a {
        text-decoration: underline;
    }

label {
    margin-left: 7%;
}

.patient-info {
    text-align: center;
    color: #000;
    margin-bottom: 5px; /* Increase the margin-bottom to create more space between the divs */
}

.patient-ID {
    background-color: #fff;
    text-align: center;
    padding: 0.5rem; /* Adjust padding to change the height */
    font-size: 0.875rem;
    line-height: 1.5rem; /* Adjust line-height for text height */
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px 5px;
    height: auto; /* Height set to auto, adjusts based on content */
}


.center {
    width: fit-content; /* Adjust width to fit content */
    margin: auto;
    text-align: center; /* Center the content */
}

.input-container textarea {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #e5e7eb;
    margin: 8px 0;
    /* Adjusting positioning */
    margin-left: auto; /* Set left margin to auto */
    margin-right: 0; /* Set right margin to 0 */
}


.divider-yellow {
    text-align: center;
    background-color: #FEC000;
    line-height: 1.5;
    margin: 10px 0 20px;
    border-radius: 10px;
}

.divider-blue {
    text-align: center;
    background-color: #04A1E3;
    line-height: 1.5;
    margin: 10px 0 20px;
    border-radius: 10px;
}
