.welcome-text {
    margin-top: 30px;
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    border-radius: 20px;
    width: 300px; /* Adjust the width as needed */
    height: 250px;
    padding: 20px; /* Adjust the padding as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Apply box shadow */
}


.level {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .header img {
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        margin-left: 10px;
    }

.text {
    margin-bottom: 10px;
}

.login, .register {
    border-radius: 15px;
    padding: 15px 30px;
    width: 200px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
}

.login {
    background-color: #04A1E3;
}

.register {
    background-color: #FEC000;
}


body {
    height: 100vh;
    margin: 0;
    background-color: #FAF9F6;
}

.welcome-text {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FEC000;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacked-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacked-item {
    margin-bottom: 20px;
}

.side-by-side-container {
    display: flex;
    align-items: center;
}

.rounded-container,
.rounded-containercopy {
    position: relative;
    width: 240px;
    height: 240px;
    background-color: #ffffff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    box-shadow: 0 10px 105px -9px rgba(0, 0, 0, 0.1), 0 8px 40px -2px rgba(0, 0, 0, 0.05);
}

