body {
    background-color: #FAF9F6;
}


.flex-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85%; /* Set a minimum width */
    min-height: 200px; /* Set a minimum height */
    border-radius: 5px;
    background-color: #D9D9D9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)    ;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust spacing */
}

.level {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
}

.input[type = "text"] {
    display: block;
    color: rgb(34, 34, 34);
    background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 50px;
    block-size: 20px;
    margin: 7px auto;
    padding: 18px 15px;
    margin-right: 10px;
    outline: none;
    text-align: center;
    width: 280px;
    transition: 0.5s;
}

    .input[type = "text"]:hover {
        width: 340px;
    }

    .input[type = "text"]:focus {
        width: 360px;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Space between search bar and table */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    padding-left: 20px;
}

th {
    background-color: #f2f2f2;
}

    th:nth-child(2),
    td:nth-child(2) {
        width: 20%; /* Adjust the width as needed */
    }
/* Add styling for the first row */
table tr:first-child th {
    background-color: #FEC000; /* Background color for the first row */
}

/* Color every other row and add border radius to cells */
table tr:nth-child(odd) td {
    
}

table tr:nth-child(even) td {
    background-color: #FEC000; /* Background color for even rows */
   
}

/* Set the second row to white */
table tr:nth-child(2) td {
    background-color: white;
}

table a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
