body {
    background-color: #FAF9F6;
}


.flex-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85%; /* Set a minimum width */
    min-height: 200px; /* Set a minimum height */
    border-radius: 5px;
    background-color: #D9D9D9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)    ;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontally center */
    margin-bottom: 20px; /* Adjust spacing */
}


.level {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
}

.input[type = "text"] {
    display: block;
    color: rgb(34, 34, 34);
    background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 50px;
    block-size: 20px;
    margin: 7px auto;
    padding: 18px 15px;
    margin-right: 10px;
    outline: none;
    text-align: center;
    width: 280px;
    transition: 0.5s;
}

    .input[type = "text"]:hover {
        width: 340px;
    }

    .input[type = "text"]:focus {
        width: 360px;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Space between search bar and table */
    border-radius: 10px; /* Round off table corners */
    overflow: hidden; /* Hide content that exceeds the rounded corners */
}

/* Other existing styles... */


th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    padding-left: 20px;
}

th {
    background-color: #f2f2f2;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    padding-left: 20px;
    background-color: #f2f2f2; /* Default background color for headers */
}

/* Styling for the first row headers */
table tr:first-child th {
    background-color: #FEC000; /* Background color for the first row */
}

table a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}

.submit {
    margin-top: 8px;
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #04A1E3;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 30%;
    border-radius: 150px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding shadow */
    border: none; /* Remove outline */
    text-decoration: none; /* Remove text decoration */
    outline: none; /* Remove outline on focus */
}

    .submit .button-link {
        color: inherit; /* Inherit parent button color */
        text-decoration: none; /* Remove default link underline */
    }

