body {
    height: 100vh;
    margin: 0;
    background-color: #FAF9F6;
}

.welcome-text {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FEC000;
    font-family: Arial;
    font-weight: 800;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacked-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacked-item {
    margin-bottom: 20px;
}

.side-by-side-container {
    display: flex;
    align-items: center;
}

.rounded-container,
.rounded-containercopy {
    position: relative;
    width: 240px;
    height: 240px;
    background-color: #ffffff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    box-shadow: 0 10px 105px -9px rgba(0, 0, 0, 0.1), 0 8px 40px -2px rgba(0, 0, 0, 0.05);
}

    .rounded-container .rounded-text,
    .rounded-containercopy .rounded-text {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        color: #333;
    }

    .rounded-container a,
    .rounded-containercopy a {
        text-decoration: none;
        color: inherit;
    }

    .rounded-container:hover,
    .rounded-containercopy:hover {
        cursor: pointer;
    }
    .rounded-containercopy:hover {
        cursor: pointer;
    }

        .rounded-containercopy:hover::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity or color as needed */
            border-radius: 40px;
            pointer-events: none; /* Allow interactions with the underlying elements */
        }

.patient-info {
    text-align: center;
    color: #000;
    margin-bottom: 5px; /* Increase the margin-bottom to create more space between the divs */
}

.patient-ID {
    background-color: #fff;
    text-align: center;
    padding: 0.5rem; /* Adjust padding to change the height */
    font-size: 0.875rem;
    line-height: 1.5rem; /* Adjust line-height for text height */
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px 5px;
    height: auto; /* Height set to auto, adjusts based on content */
}


.center {
    width: fit-content; /* Adjust width to fit content */
    margin: auto;
}
